@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #121212;
}
.background {
  color: black;
  font-size: 40px;
  text-shadow: -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px -1px 0 #ffffff;
  font-size: 3rem;
}
